<tr class="course" id="course_<%-course.course_id%>">
  <td class="name"><%- course.name%></td>
  <td class="description"><%- course.description%></td>
  <td>
    <a href="/course/<%-course.course_id%>" class="button">View Course</a>
  </td>
</tr>
