<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Grit Academy</title>
  </head>
  <body>
    <% if (locals.message) { %> <%- include('partials/confirmation-message.ejs',
    { message }) %> <% } %>
    <header>
      <div class="logo-wrapper">
        Grit Academy
      </div>

      <nav>
        <a href="/">Dashboard</a>
        <a href="/students">Students</a>
        <a href="/courses">Courses</a>
      </nav>
    </header>

    <main><%- body %></main>

    <footer>&copy; Evergreen Valley University 2024</footer>
  </body>
</html>
