/*  CREATE FORM STYLING */

.create-form-wrapper {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);

  margin-top: 1rem;
  padding: 1rem;
}

form.create {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;
}

form.create input {
  font-size: 1rem;
}

form.create .input-wrapper{
  width: 100%;
}

form.create input[type="text"] {
  width: 100%;
  background-color: var(--secondary-container-high);
  color: var(--on-secondary-container);
  outline: none;
  border: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
}

form.create input[type="submit"] {
  width: fit-content;
}

form.create input:focus {
  box-shadow: 0px 0px 0px 1px var(--accent) inset;
}

form.create .half {
  display: flex;
  gap: 1rem;
}

form.create .half div {
  flex-grow: 1;
}

/* toggle hide styling */
.hidden {
  display: none;
  transform: scaleY(0);
}

.create-form-wrapper {
  transition: 2s;
  transform: scaleY(100%);
}
