button,
.button,
input[type="submit"] {
  cursor: pointer;
  border: none;
  padding: 1rem;
  font-size: 1rem;

  background-color: var(--primary);
  color: var(--on-primary);
}

button.rounded,
.button.rounded,
input[type="submit"].rounded {
  padding: 0.75rem 2rem;
  border-radius: 2rem;

  background-color: var(--primary);
  color: var(--on-primary);
}

button.col-accent,
.button.col-accent,
input[type="submit"].col-accent {
  background-color: var(--accent);
  color: var(--on-accent);
}

button.col-surface,
.button.col-surface,
input[type="submit"].col-surface {
  background-color: var(--surface-container);
  color: var(--on-surface);
}

button.icon {
  font-size: 1.25rem;
}

a.button,
button.icon {
  background-color: var(--surface-container);
  color: var(--on-surface);
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-decoration: none;
}

a.button:hover,
button.icon:hover {
  background-color: var(--surface-container);
}
