.confirmation-message {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  padding: 1rem 2rem;
  border-radius: 1rem;
}
